
<%
const archivesList = list_archives({ show_count: false,format: "YYYY/MM" });
%>

<% if (is_year() === false) { %>
  <div id="archive">

    <h1><%-page.title%></h1>

    <% if (theme.atom !== undefined) { %>
      <p>
        The feed is available via
        <a href="<%=theme.atom%>">atom</a>.
      </p>
      <br>
    <% } %>

    
    <aside>
      <% if (archivesList !== "") { %>
        <%-archivesList%>
      <% } else { %>
        <p>None.</p>
      <% } %>
    </aside>

  </div>
<% } else { %>

  <h1><%=page.year + ' 年 ' + page.month+' 月'%></h1>

  <% page.posts.each(article => { %>
    <div class="item">
      <p class="item-title">
        <a href="<%=url_for(article.path)%>"><%=article.title%></a> - <time datetime="<%=article.date.toJSON()%>">
          <%=date(article.date)%>
        </time>
    </div>
  <% }) %>

  <div id="paginator">
    <%-partial('pagination')%>
  </div>

<% } %>
