
<article id="post" class="post">
  <h1><%=page.title%><%page.categories.forEach(function(category, index) {%>
    <span class="title_brand"><a href="/<%= category.path %>"><strong><%=category.name%></strong></a></span>
<%});%></h1>
  <div class="page_content">
    <div class="content">
      <%-page.content%>
    </div>
  </div>
  
  <div class="footer">
    <!--<% if(page.categories.length !=0){%>
      <hr style="background: rgba(0,0,0,0.1);" />
      From: 
    <%page.categories.forEach(function(category, index) {%>
        <a href="/<%= category.path %>"><strong><%=category.name%></strong></a>
    <%});}%>-->
    <hr class="endline">
  </div>
  <p><a href="/">← 返回</a></p>
</article>

<div id="paginator">
  <%-paginator()%>
</div>
